<div>
    <div>
        <p-toast>
        </p-toast>
    </div>
    <div class="contenedor">
        <div class="hijo">
            <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()" class="p-3 bg-faded">
                <div class="grid">
                    <div class="col-12 sm:col-6">
                        <div class="p-inputgroup mb-1">
                            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                            <input type="text" pInputText formControlName="nombreAgencia" placeholder="Nombre"
                                title="nombreAgencia">
                        </div>
                        <div class="p-inputgroup mb-1">
                            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                            <input type="text" pInputText formControlName="direccionAgencia" placeholder="Direccion"
                                title="direccionAgencia">
                        </div>
                    </div>
                </div>
                <div class="grid">
                    <div class="col-12 sm:col-8">
                        <div class="p-inputgroup mb-1">
                            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                            <input type="text" pInputText formControlName="telefonoAgencia" placeholder="Telefono"
                                title="telefonoAgencia">
                        </div>
                        <div class="p-inputgroup mb-1">
                            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                            <input type="text" pInputText formControlName="ciudadAgencia" placeholder="Ciudad"
                                title="ciudadAgencia">
                        </div>
                    </div>
                    <div class="text-right">
                            <button pButton pRipple type="submit" icon="pi pi-check" label="Enviar"
                                [disabled]="!form.valid" class="mt-4 mr-2">
                            </button>
                            <button pButton pRipple type="button" icon="pi pi-times" label="Cancelar" class=" mr-2"
                                (click)="cancel()">
                            </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>