<form [formGroup]="form" novalidate (ngSubmit)="onSubmit()" class="p-3 bg-faded">
    <div class="grid">
        <div class="col-12 sm:col-6">
            <div class="p-inputgroup mb-1">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input type="text" pInputText formControlName="nombreHoteles" placeholder="nombreHoteles"  title="nombreHoteles">         
            </div>
        </div>
        <div class="col-12 sm:col-6">
          <div class="p-inputgroup mb-1 ">
                <span class="p-inputgroup-addon"><i class="pi pi-wallet"></i></span>
                <input type="text" pInputText formControlName="direccionHoteles" placeholder="direccionHoteles" title="direccionHoteles" >          
          </div>
        </div>
    </div>
    <div class="grid">
        <div class="col-12 sm:col-6">
            <div class="p-inputgroup mb-1">
                <span class="p-inputgroup-addon"><i class="pi pi-phone"></i></span>
                <input type="text" pInputText formControlName="telefonoHoteles" placeholder="telefonoHoteles"  title="telefonoHoteles">         
            </div>
        </div>
        <div class="col-12 sm:col-6">
          <div class="p-inputgroup mb-1 ">
                <span class="p-inputgroup-addon"><i class="pi pi-bookmark"></i></span>
                <input type="text" pInputText formControlName="tipocategoria" placeholder="tipocategoria" title="tipocategoria" >          
          </div>
        </div>
    </div>
  <div class="text-right">
        <div class="col-12 sm:col-6">
            <div class="p-inputgroup mb-1 ">
                  <span class="p-inputgroup-addon"><i class="pi pi-comments"></i></span>
                  <input type="text" pInputText formControlName="tipohabitacion" placeholder="tipohabitacion" title="tipohabitacion" >          
            </div>
        <button pButton pRipple  type="submit"  icon="pi pi-check" label="Enviar" 
            [disabled]="!form.valid" class="mt-4 mr-2">
        </button>
        <button pButton pRipple  type="button"  icon="pi pi-times" label="Cancelar" 
            class=" mr-2" (click)="cancel()">
        </button>
    </div>
  </div>
</form>
