<div>
    <p-toast>
    </p-toast>
</div>
<div class="contenedor">
    <div class="hijo">
        <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()" class="p-3 bg-faded">
            <div class="row double">
                <div class="column-2 left">
                    <div class="p-inputgroup mb-1">
                        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                        <input type="text" pInputText formControlName="cedulaReserva" placeholder="Cedula"
                            title="cedulaReserva">
                    </div>
                    <div class="p-inputgroup mb-1 ">
                        <span class="p-inputgroup-addon"><i class="pi pi-directions"></i></span>
                        <input type="text" pInputText formControlName="nitavReserva" placeholder="Nitav"
                            title="nitavReserva">
                    </div>
                    <div class="p-inputgroup mb-1 ">
                        <span class="p-inputgroup-addon"><i class="pi pi-bookmark"></i></span>
                        <input type="time" pInputText formControlName="horaingresoReserva" placeholder="Hora"
                            title="horaingresoReserva">
                    </div>
                    <div class="p-inputgroup mb-1 ">
                        <span class="p-inputgroup-addon"><i class="pi pi-home"></i></span>
                        <input type="text" pInputText formControlName="agencia" placeholder="Agencia" title="agencia">
                    </div>
                </div>
                <div class="column-2 right">
                    <div class="p-inputgroup mb-1 ">
                        <span class="p-inputgroup-addon"><i class="pi pi-home"></i></span>
                        <input type="text" pInputText formControlName="personas" placeholder="Personas"
                            title="personas">
                    </div>
                    <div class="p-inputgroup mb-1 ">
                        <span class="p-inputgroup-addon"><i class="pi pi-home"></i></span>
                        <input type="text" pInputText formControlName="hotel" placeholder="Hotel" title="hotel">
                    </div>
                    <div class="p-inputgroup mb-1">
                        <span class="p-inputgroup-addon"><i class="pi pi-phone"></i></span>
                        <input type="date" pInputText formControlName="fechaingresoReserva" placeholder="Fecha Ingreso"
                            title="fechaingresoReserva">
                    </div>
                    <div class="p-inputgroup mb-1 ">
                        <span class="p-inputgroup-addon"><i class="pi pi-calendar"></i></span>
                        <input type="date" pInputText formControlName="fechasalidaReserva" placeholder="Fecha Salida"
                            title="fechasalidaReserva">
                    </div>
                    <div class="col-12 sm:col-6">
                        <button pButton pRipple type="submit" icon="pi pi-check" label="Enviar" [disabled]="!form.valid"
                            class="mt-4 mr-2">
                        </button>
                        <button pButton pRipple type="button" icon="pi pi-times" label="Cancelar" class=" mr-2"
                            (click)="cancel()">
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>