.main {
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
    align-items: center;  
}

#logo-header {
    width: 200px;
    height: 90px;
}

.logo {
    flex-grow: 1;

}

    #logo-header {
        width: 200px;
        height: 90px;
    }

.titulo {
    flex-grow: 1;
}

.nav {
    flex-grow: 3;
}
