
<div class="grid bg-cyan-100">
    <div class="col-2">
        <img id="logo-header" src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/grand-hotel-logo-design-template-50c7255579b1e9df6d8bae41f78889c1_screen.jpg?ts=1611148225" alt="">
    </div>
    <div class="col-4" >
        <h3>SITE HOTELES</h3>
    </div>
    <div class="col-6" >
        <p-menubar  [model]="opc" [style]="estilosMenu">
            <ng-template pTemplate="start">
                <img src="https://ximagen.com/images/2019/04/24/Logos-random-para-descargar-gratis-5.jpg" height="40" class="p-mr-2">
            </ng-template>
        </p-menubar>
    </div>
</div>
